streamlit
python
pandas
numpy
python-docx
pdfminer.six
PyMuPDF
pdf2image
python-magic
opencv-python
Pillow
pytesseract
easyocr
nltk
spacy
langdetect
regex
scikit-learn
xgboost
lightgbm
transformers
labelImg
matplotlib
seaborn
plotly
tqdm
fastapi
uvicorn
pydantic
requests
gunicorn
flask
